{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx, js": true
    }
  },
  "plugins": ["react", "react-native", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "airbnb-base"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "no-use-before-define": 1,
    "react-native/no-color-literals": 0,
    "react-native/no-inline-styles": 0,
    "no-underscore-dangle": "off",
    "no-undef": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {
        "rootPathPrefix": "@",
        "rootPathSuffix": "src"
      }
    }
  },
  "env": {
    "jest": true
  }
}
